# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Increment number'
      'command': 'atom-numbers:increment'
    }
    {
      'label': 'Decrement number'
      'command': 'atom-numbers:decrement'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Numbers'
      'submenu': [
        {
          'label': 'Increment Selected'
          'command': 'atom-numbers:increment'
        }
        {
          'label': 'Decrement Selected'
          'command': 'atom-numbers:decrement'
        }
        {
          'type': 'separator'
        }
        {
          'label': 'Insert Pi'
          'command': 'atom-numbers:pi'
        }
        {
          'type': 'separator'
        }
        {
          'label': 'SemVer Increment Major Version'
          'command': 'atom-numbers:increment-major'
        }
        {
          'label': 'SemVer Increment Minor Version'
          'command': 'atom-numbers:increment-minor'
        }
        {
          'label': 'SemVer Increment Patch Version'
          'command': 'atom-numbers:increment-patch'
        }
      ]
    ]
  }
]
